<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <ol class="breadcrumb">
                <li><a href="/library">Library</a></li>
                <li><a>Books</a></li>
                <li class="active">{{ title }}</li>
            </ol>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-3">

            <br>

            <a class="thumbnail">
                <img {{bind-attr src=cover}} style="width:100%;" >
            </a>

            <div class="btn-group">
                <a type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                    Downloads <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {{#each formats}}
                    <li><a href="/download/{{unbound ../id}}/{{unbound this}}">{{ this }}</a></li>
                    {{/each}}
                </ul>
            </div>

        </div>

        <div class="col-lg-9">

            <h1>{{ title }} <small>{{ subtitle}}</small></h1>


            <h2><small>By {{#each authors}}
                <a href="#/author/{{unbound this}}">{{ this }}</a>
            {{/each}}</small></h2>

            <br>

            <h3>Description</h3>

            {{{ description }}}

            <script type="text/javascript">
                $('#line-3').addClass('lead');
            </script>

            <h3>Genres</h3>
            <dd><ul class="list-inline">{{#each genres}}<li><p class="lead"><a href="#/genre/{{unbound this}}">{{ this }}</a></p></li>{{/each}}</ul></dd>


            {{#link-to 'edit' this class="btn btn-link btn-lg pull-right"}}Edit{{/link-to}}

        </div>

    </div>

</div>
