<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <ol class="breadcrumb">
                <li>{{#link-to 'library' }}Library{{/link-to}}</li>
                <li><a>Books</a></li>
                <li class="active">{{ title }}</li>
            </ol>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-3">

            <br>

            <a class="thumbnail">
                <img {{bind-attr src=cover}} style="width:100%;" >
            </a>

            <div class="btn-group">
                <a type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                    Downloads <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {{#each formats}}
                    <li><a href="/download/{{unbound ../id}}/{{unbound this}}">{{ this }}</a></li>
                    {{/each}}
                </ul>
            </div>

        </div>

        <div class="col-lg-9">

            <h1>{{ title }} <small>{{ subtitle}}</small></h1>


            <h2><small>By {{#each authors}}
                <a href="#/author/{{unbound this}}">{{ this }}</a>
            {{/each}}</small></h2>

            <br>

            <ul class="nav nav-tabs" id="tabs">
                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                <li><a href="#genres" data-toggle="tab">Genres</a></li>
            </ul>

            <br>

            <div class="tab-content">
                <div class="tab-pane active" id="description">

                    <p class="lead">{{{ description }}}</p>

                </div>
                <div class="tab-pane" id="genres">

                    <ul class="list-inline">{{#each genres}}<li><a href="#/genre/{{unbound this}}"><h3><span class="label label-default">{{ this }}</span></h3></a></li>{{/each}}</ul>

                </div>
            </div>

            <script type="text/javascript">
                $('#line-3').addClass('lead');
            </script>

            {{#link-to 'edit' this class="btn btn-link btn-lg pull-right"}}Edit{{/link-to}}

        </div>

    </div>

</div>
