<div class="container" style="width:50%;">

    <div class="row">

        <div class="col-lg-2">

            <a href="#/book/{{unbound id}}" class="btn btn-primary">Back to the Book</a>

        </div>

        <div class="col-lg-2 col-lg-offset-8">

            <form {{action "save" on="submit"}}>
                <button type="submit" class="btn btn-primary pull-right">Save Edit</button>
            </form>

        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-lg-6">

                <form {{action "login" on="submit"}}>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        {{input value=title class="form-control" type="text" placeholder="Tom Sawyer"}}
                    </div>
                </form>

        </div>

        <div class="col-lg-6">

                <form {{action "login" on="submit"}}>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Subtitle</label>
                        {{input value=subtitle class="form-control" type="text" placeholder=""}}
                    </div>
                </form>

        </div>

    </div>

    <div class="row">

        <form {{action "addAuthor" on="submit"}}>

            <div class="col-lg-4">

                    <div class="form-group">
                            {{input value=author class="form-control" type="text" placeholder="Mark Twain"}}
                    </div>


            </div>

            <div class="col-lg-2">

                    <button class="btn" style="width:100;">Add Author</author>

            </div>

            <div class="col-lg-6">

                <table class="table table-striped" id="authors">
                        <thead>
                            <tr>
                                <td><strong>Authors</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each authors}}
                        <tr>
                            <td>{{ this }}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
            </div>

        </form>

    </div>

    <div class="row">

        <form {{action "preview" on="submit"}}>

            <div class="col-lg-6">
                <label>
                    Cover Image
                </label>

                {{input value=cover class="form-control" type="text" placeholder=""}}

            </div>

            <div class="col-lg-6">

                <label>
                    &nbsp;
                </label>

                <a class="thumbnail">

                    <img {{bind-attr src=cover}} id="view" width:"100%">

                </a>

            </div>

        </form>

    </div>

    <br>

    <div class="row">

        <div class="col-lg-12">

            <label>Description</label>
            <div id="description">{{{ description }}}</div>

        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-lg-6">

            <label>Genres</label>

            <form class="form-inline">
                <input class="form-control" type="text" id="genres" class="tm-input" placeholder="Young Adult">
            </form>

        </div>

    </div>

    <script type="text/javascript">
        $('#description').summernote({
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strike']],
                ['para', ['ul', 'ol']],
                ['insert', ['link', 'picture']]
            ]
         });
         $(".tm-input").tagsManager();
         var genreTags = $("#genres").tagsManager({
             prefilled: "{{unbound genres}}",
         });
    </script>

</div>
